.clearfix
  != form.label("name")
  .input
    != form.input("name")
.clearfix
  != form.label("phone")
  .input
    != form.input("phone")
.clearfix
  != form.label("Default Email")
  .input
    != form.input("defaultEmail")
.clearfix
  != form.label("image")
  .input
    != form.input("image", {type: 'file'})
