.page-header
  h1 New Brand

- form_for(brand, {action: path_to.brands(), method: 'POST', id: "brand_form", enctype: 'multipart/form-data'}, function (form) {
  != partial('brands/form.jade', {locals: {form: form, brand: brand}})
  .actions
    != form.submit('Create', {class: 'action primary'})
    != link_to('Cancel', path_to.brands(), {class: 'action danger'})
- });
